A 1.) Loading both datasets into pandas:

In [3]:
import pandas as pd
import numpy as np

crimes = pd.read_csv('crime.csv')
vacant_buildings = pd.read_csv('vacant_buildings.csv')

In [30]:
crimes.head()

,CrimeDate,CrimeCode,Location,Description,Weapon,District,Neighborhood
0,10/14/2017,4A,2700 BEETHOVEN AVE,AGG. ASSAULT,FIREARM,NORTHWESTERN,NaN
1,10/14/2017,4E,4200 EDMONDSON AVE,COMMON ASSAULT,HANDS,SOUTHWESTERN,Rognel Heights
2,10/14/2017,4E,BALTIMORE ST & N HOWARD ST,COMMON ASSAULT,HANDS,CENTRAL,Downtown
3,10/14/2017,4E,BALTIMORE ST & N HOWARD ST,COMMON ASSAULT,HANDS,CENTRAL,Downtown
4,10/14/2017,4E,"400 WALTON AV, AAC",COMMON ASSAULT,HANDS,CENTRAL,Upton

In [31]:
vacant_buildings.head()

,ReferenceID,Block,Lot,BuildingAddress,NoticeDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
0,0002 019 031016,0002,019,1909 W NORTH AVE,03/10/2016,EASTERWOOD,WESTERN,7,"(39.30952601, -76.64848892)"
1,0007 057 031116,0007,057,1734 APPLETON ST,03/11/2016,EASTERWOOD,WESTERN,7,"(39.30856758, -76.64921157)"
2,0125 012 030816,0125,012,522 N CAREY ST,03/08/2016,HARLEM PARK,WESTERN,9,"(39.29482152, -76.63877572)"
3,0151 009 030716,0151,009,317 N GILMOR ST,03/07/2016,FRANKLIN SQUARE,WESTERN,9,"(39.29261888, -76.64231678)"
4,0232 032 031116,0232,032,1324 W LOMBARD ST,03/11/2016,UNION SQUARE,SOUTHERN,9,"(39.28680988, -76.63888529)"

A 2.) Identify the types of the attributes in the two datasets (nominal, numeric, ratio,
intervals, etc); gather this information in a “metadata” panda.

In [11]:
crimes.dtypes

CrimeDate       object
CrimeCode       object
Location        object
Description     object
Weapon          object
District        object
Neighborhood    object
dtype: object

In [28]:
import re

crimes_copy = crimes.copy()
data_type = str(crimes_copy.dtypes).split('\n')
del(data_type[-1])

attribute_types = []

for dtype in data_type:
    
    attribute_types.append(re.sub(' +', ' -> ',dtype))

crimes_copy.datatypes = attribute_types
crimes_copy.datatypes

['CrimeDate -> object',
 'CrimeCode -> object',
 'Location -> object',
 'Description -> object',
 'Weapon -> object',
 'District -> object',
 'Neighborhood -> object']

In [12]:
vacant_buildings.dtypes

ReferenceID        object
Block              object
Lot                object
BuildingAddress    object
NoticeDate         object
Neighborhood       object
PoliceDistrict     object
CouncilDistrict     int64
Location           object
dtype: object

In [27]:
import re

vacant_properties = vacant_buildings.copy()
data_type = str(vacant_properties.dtypes).split('\n')
del(data_type[-1])

attribute_types = []

for dtype in data_type:
    
    attribute_types.append(re.sub(' +', ' -> ',dtype))

vacant_properties.datatypes = attribute_types
vacant_properties.datatypes

['ReferenceID -> object',
 'Block -> object',
 'Lot -> object',
 'BuildingAddress -> object',
 'NoticeDate -> object',
 'Neighborhood -> object',
 'PoliceDistrict -> object',
 'CouncilDistrict -> int64',
 'Location -> object']

A 3.) Demonstrate basic statistical descriptions for attributes of your choice (at least
two attributes, and at least one of each boxplot, histogram, quantile plot, boxplot,
quantile-quantile plot, scatterplot); explain any “useful” characteristics of those attributes
that you can draw from those statistical descriptions.

(a) Histogram - 1. frequency of vacant_buildings and crimes per year for each year
                2. number of vacancies and crimes per neighborhood

In [49]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as gob

init_notebook_mode(connected=True)

crimes_copy = crimes.copy()
vacant_buildings_copy = vacant_buildings.copy()

crimes_neighborhood = crimes_copy['Neighborhood'].str.lower()
vacant_buildings_neighborhood = vacant_buildings_copy['Neighborhood'].str.lower()


print(crimes_neighborhood.nunique())
print(vacant_buildings_neighborhood.nunique())

crimes_neighborhood.equals(vacant_buildings)
#iplot([Scatter(x=[1, 2, 3], y=[3, 1, 6])])

278
227

False